astropy~=6.1.2
numpy~=2.0.1
joblib~=1.4.2
optuna~=3.6.1
pandas~=2.2.2
matplotlib~=3.9.0
mpi4py~=4.0.0
PyYAML~=6.0.1
PyQt5~=5.15.11

--find-links https://download.pytorch.org/whl/cu121; sys_platform != "darwin"
torch~=2.4.0

netloader @ git+https://github.com/EthanTreg/PyTorch-Network-Loader@v3.2.4
